.items{
    width: 280px;

}
.items img{
    width: 280px;

}
.items p{
    margin: 6px 0px;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.item-price-old{
color: #8c8c8c;
font-size: 18px;
font-weight: 500;
text-decoration: line-through;
}
.items:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
@media (max-width:1280px) {
    .items{
        width: 220px;
        font-size: 14px;
    }
    .items img{
        width: 220px;
    }
    .item-price-old{
        font-size: 14px;
    }
}
@media (max-width:1024px) {
    .items{
        width: 170px;
        font-size: 13px;
    }
    .items img{
        width: 170px;
    }
    .item-price-old{
        font-size: 13px;
    }
}
@media (max-width:800px) {
    .items{
        width: 120px;
        font-size: 12px;
    }
    .items img{
        width: 120px;
    }
    .item-price-old{
        font-size: 12px;
    }
}
@media (max-width:500px) {
    .items{
        width: 160px;
        /* font-size: 12px; */
    }
    .items img{
        width: 160px;
    }
    /* .item-price-old{
        font-size: 12px;
    } */
}